<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div id="seo-container">
  </div>
<div id="react-container">
<div data-reactroot="" id="main-wrapper">
<header class="header">
  <div class="header__container-logo">
    <a href="~/Home/Index" class="logo logo_header pull-left" tabindex="1"><i class="nri nri-logo"></i></a><i class="logo-decorate_ny nri nri-logo_ny"></i>
  </div>
  <div class="nav-portals">
    <div class="nav-portals__toggler" title="Меню проекта" data-tooltip="simple">
      <span class="glyph glyphicon-th"></span><span class="glyph glyphicon-remove"></span>
    </div>
    <div class="nav-portals__dropdown">
      <div class="nav-portals__columns">
        <div class="nav-portals__column">
          <div class="nav-portals__title nav-portals__title_underline">Система</div>
          <ul class="nav-portals__list">
            <li>
              <a href="https://normativka.by/?promo">О системе</a>
            </li>
            <li>
              <a href="https://normativka.by/trial/">Пробный доступ</a>
            </li>
            <li>
              <a href="https://normativka.by/services/price/">Купить</a>
            </li>
            <li>
              <a href="https://normativka.by/blog/category/updates/">Новости системы</a>
            </li>
            <li>
              <a href="https://normativka.by/help/">Справка</a>
            </li>
          </ul>
        </div>
        <div class="nav-portals__column">
          <div class="nav-portals__title nav-portals__title_underline">Компания</div>
          <ul class="nav-portals__list">
            <li>
              <a href="http://profigroup.by/" target="_blank">О компании</a>
            </li>
            <li>
              <a href="https://normativka.by/partnership/">Сотрудничество</a>
            </li>
            <li>
              <a href="https://normativka.by/contract/">Соглашение</a>
            </li>
            <li>
              <a href="https://normativka.by/privacy-policy/">Конфиденциальность</a>
            </li>
            <li>
              <a href="https://normativka.by/contacts/">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav-portals__separator"></div>
      <div class="nav-portals__title">Продукты компании</div>
      <div class="portal__links">
        <a class="portal-link" href="https://buhgalter.by/" target="_blank" data-tooltip="simple" title="Информационный портал для бухгалтера">
          <div class="portal-link__pic portal-link__pic_buh"></div>
          <div class="portal-link__title">Бухгалтер.by</div>
        </a>
      </div>
      <div class="nav-portals__separator"></div>
      <a href="https://ok.ru/group/54587061108755" class="social-link social-link_ok" target="_blank"><i class="mdi mdi-odnoklassniki"></i></a>
      <a href="https://vk.com/clubnormativkaby" class="social-link social-link_vk" target="_blank"><i class="mdi mdi-vk"></i></a>
      <a href="https://www.facebook.com/Normativka/" class="social-link social-link_fb" target="_blank"><i class="mdi mdi-facebook"></i></a>
      <a href="https://twitter.com/Normativka_by" class="social-link social-link_tt" target="_blank"><i class="mdi mdi-twitter"></i></a>
    </div>
  </div>
  <div class="header__container-profile header__container-profile_login" id="user-menu">
    <a class="profile-widget" href="https://normativka.by/lib/rubric/22519/sid/ba8a856ad1494cca8062389dcfe3e880#" tabindex="6">
      <div class="profile-widget__container-login">
        <i class="profile-widget__login-icon mdi mdi-lock"></i>
        <div class="profile-widget__login-text">Вход в систему</div>
      </div>
    </a>
    <div class="profile-widget__dropdown">
      <div class="auth auth_popup">
        <form class="auth__form">
          <div class="form-cell">
            <input type="text" id="email" name="email" placeholder="Электронная почта" class="auth__input-text">
            <ul class="f-error hide"></ul>
          </div>
          <div class="form-cell">
            <div class="ctrl ctrl__input-show-symbols">
              <span class="mdi mdi-eye-off"></span>
            </div>
            <input type="password" id="password" name="password" placeholder="Пароль" class="auth__input-text auth__input-pass">
            <ul class="f-error hide"></ul>
          </div>
          <div class="form-cell clearfix">
            <div class="pull-left">
              <input type="checkbox" id="auth" class="auth__remember-checkbox" value="on">
              <label for="auth" class="auth__remember-label">Запомнить меня</label>
            </div>
            <div class="pull-right">
              <a href="https://normativka.by/user/recover/" target="_blank" class="auth__recover-pass">Восстановить пароль</a>
            </div>
          </div>
          <div class="form-cell">
            <input type="submit" value="Войти" class="ctrl auth__submit">
          </div>
        </form>
        <div class="auth__registration">
          <a href="https://normativka.by/user/new/step1/" target="_blank" class="ctrl ctrl__registration"><i class="mdi mdi-plus-circle-outline"></i><!-- react-text: 96 -->Регистрация<!-- /react-text --></a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__container-search">
    <div id="search-form" class="search">
      <button class="ctrl search__submit" tabindex="5">
        <i class="search__submit__icon mdi mdi-magnify"></i><span class="search__submit__text">Найти</span>
      </button>
      <button class="search__toggler" tabindex="4" title="Расширенный поиск" data-tooltip="simple">
        <i class="search__toggler__icon mdi mdi-tune"></i><span class="search__toggler__text">Параметры</span>
      </button><span class="search__reset ctrl hide" title="Очистить поле поиска" data-tooltip="simple"><span class="mdi mdi-close"></span></span>
      <div class="search__tag-counter hide">
        <span class="tag" data-tooltip="simple" title="Выбрано параметров расширенного поиска"><span class="tag__text">Выбрано</span><span class="tag__num">0</span></span>
      </div>
      <div class="search__container">
        <input type="text" id="search-input" class="search__string" placeholder="Искать: кодексы, аналитика, НПА, формы..." value="" tabindex="2">
      </div>
    </div>
    <div id="search_results" class="search-autocomplete hide hide">
      <div class="rubric-suggestion-container"></div>
    </div>
  </div>
</header>
<div id="panel-left" class="panel-left">
  <nav>
    <ul class="nav-main">
      <li class="nav-main__item nav-main__item_navigator" data-tab="navigator">
        <span class="nav-main__item__link" title="Правовой навигатор" data-tooltip="simple">
              <span class="nav-main__icon nri nri-navigator"></span><span class="nav-main__title">Навигатор</span>
              <!-- react-text: 401 -->
              <!-- /react-text -->
            </span>
      </li>
      <li class="nav-main__item nav-main__item_rubric" data-tab="rubrics">
        <span class="nav-main__item__link" title="Тематические рубрики документов" data-tooltip="simple">
              <span class="nav-main__icon nri nri-rubric"></span><span class="nav-main__title">Рубрики</span>
              <!-- react-text: 406 -->
              <!-- /react-text -->
            </span>
      </li>
      <li class="nav-main__item nav-main__item_codex" data-tab="codex">
        <span class="nav-main__item__link" title="Кодексы Республики Беларусь" data-tooltip="simple">
              <span class="nav-main__icon nri nri-codex"></span><span class="nav-main__title">Кодексы</span>
              <!-- react-text: 411 -->
              <!-- /react-text -->
            </span>
      </li>
      <li class="nav-main__item nav-main__item_reference" data-tab="reference">
        <span class="nav-main__item__link" title="Справочная информация" data-tooltip="simple">
              <span class="nav-main__icon nri nri-reference"></span><span class="nav-main__title">Справочная</span>
              <!-- react-text: 416 -->
              <!-- /react-text -->
            </span>
      </li>
      <li class="nav-main__item nav-main__item_favourites" data-tab="favorites">
        <span class="nav-main__item__link" title="Избранные документы" data-tooltip="simple"><span class="nav-main__icon nri nri-favourites"></span><span class="nav-main__title">Избранное</span><span class="nav-main__count hide">0</span></span>
      </li>
      <li class="nav-main__item nav-main__item_radar hide">
        <span class="nav-main__item__link" title="Радар" data-tooltip="simple">
              <span class="nav-main__icon nri nri-radar"></span><span class="nav-main__title">Радар</span>
              <!-- react-text: 426 -->
              <!-- /react-text -->
            </span>
      </li>
    </ul>
  </nav>
  <ul class="nav-support">
    <li class="nav-support__item nav-support__item_history" data-tab="history">
      <span class="nav-support__link" title="История открытых документов" data-tooltip="simple"><i class="nav-support__icon nri nri-history"></i><span class="nav-support__text">История</span></span>
    </li>
    <li class="nav-support__item nav-support__item_feedback" data-tab="feedback">
      <span class="nav-support__link" title="Отзыв по работе с системой" data-tooltip="simple"><i class="nav-support__icon mdi mdi-message-text-outline"></i><span class="nav-support__text">Отзывы</span></span>
    </li>
    <li class="nav-support__item nav-support__item_faq" data-tab="help">
      <span class="nav-support__link" title="Руководство пользователя ИПС «Нормативка.by»" data-tooltip="simple"><i class="nav-support__icon mdi mdi-help-circle"></i><span class="nav-support__text">Помощь</span></span>
    </li>
  </ul>
</div>
<div class="content-wrapper js-content-wrapper  content-wrapper_panel-top content-wrapper_rp-min">
  <!-- react-text: 441 -->
  <!-- /react-text -->
  <div>
    <div class="panel-top show" id="panel-top">
      <div class="panel-top__text">
        <!-- react-text: 453 -->Результаты поиска: найдено
        <!-- /react-text -->
        <!-- react-text: 454 -->68
        <!-- /react-text -->
        <!-- react-text: 455 -->документов
        <!-- /react-text -->
      </div>
    </div>
  </div>
  <div id="panel-right" class="panel-right show panel-right_top-panel panel-right_min">
    <div class="tabpanel-right tabpanel-right_max">
      <ul class="nav nav-tabs tabpanel-right__list">
        <li class="tabpanel-right__toggler" data-tooltip="right-panel-toggler" title="Развернуть панель">
          <i class="tabpanel-right__toggler__icon mdi mdi-keyboard-backspace close"></i>
        </li>
        <li class="tabpanel-right__item tabpanel-right__item_filters active">
          <a href="https://normativka.by/lib/rubric/22519/sid/ba8a856ad1494cca8062389dcfe3e880#" class="tabpanel-right__link" data-index="0" data-tooltip="right-panel-button" title="Фильтры"><span class="tabpanel-right__icon nri nri-filters active"></span></a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="list-sorting">
            <div class="list-sorting__head">
              <span class="list-sorting__icon nri nri-sort_circle"></span>
              <p class="panel-right__subtitle list-sorting__title">Сортировка списка</p>
            </div>
            <div class="nr-select">
              <div class="nr-select__container">
                <div class="nr-select__controls clearfix">
                  <div class="nr-select__ctrl-open ctrl">
                    <div class="mdi mdi-dots-vertical"></div>
                  </div>
                </div>
                <div class="nr-select__input-wrapper">
                  <input type="text" value="Комплексная" class="nr-select__input" readonly="">
                </div>
              </div>
              <div class="nr-select__dropdown hide">
                <div class="nr-select__option">
                  <span data-value="common">Комплексная</span>
                </div>
                <div class="nr-select__option">
                  <span data-value="significance">Юридическая сила</span>
                </div>
                <div class="nr-select__option">
                  <span data-value="adop:desc">Дата принятия ↓</span>
                </div>
                <div class="nr-select__option">
                  <span data-value="adop:asc">Дата принятия ↑</span>
                </div>
                <div class="nr-select__option">
                  <span data-value="change:desc">Дата изменения ↓</span>
                </div>
                <div class="nr-select__option">
                  <span data-value="change:asc">Дата изменения ↑</span>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-right__separator"></div>
          <div class="list-filter">
            <div class="list-filter__head">
              <p class="panel-right__subtitle list-filter__title">Фильтр списка</p><span class="list-filter__icon nri nri-filter_circle"></span>
              <p class="list-filter__count">
                <!-- react-text: 497 -->68
                <!-- /react-text -->
                <!-- react-text: 498 -->документов
                <!-- /react-text -->
              </p>
            </div>
            <div class="list-filter__block">
              <div class="list-filter__field disabled">
                <label class="list-filter__label disabled">Законодательство</label><span class="list-filter__checkbox disabled rc-checkbox">
                      <span class="rc-checkbox-inner"></span>
                      <input type="checkbox" class="rc-checkbox-input" value="on">
                    </span><span class="list-filter__item-count"></span>
              </div>
              <div class="list-filter__subcategory">
                <div class="list-filter__field disabled">
                  <label class="list-filter__label disabled">Республиканское</label><span class="list-filter__checkbox disabled rc-checkbox">
                        <span class="rc-checkbox-inner"></span>
                        <input type="checkbox" class="rc-checkbox-input" value="on">
                      </span><span class="list-filter__item-count"></span>
                </div>
                <div class="list-filter__field disabled">
                  <label class="list-filter__label disabled">Местное</label><span class="list-filter__checkbox disabled rc-checkbox">
                        <span class="rc-checkbox-inner"></span>
                        <input type="checkbox" class="rc-checkbox-input" value="on">
                      </span><span class="list-filter__item-count"></span>
                </div>
                <div class="list-filter__field disabled">
                  <label class="list-filter__label disabled">Международные договоры</label><span class="list-filter__checkbox disabled rc-checkbox">
                        <span class="rc-checkbox-inner"></span>
                        <input type="checkbox" class="rc-checkbox-input" value="on">
                      </span><span class="list-filter__item-count"></span>
                </div>
                <div class="list-filter__field disabled">
                  <label class="list-filter__label disabled">Ненормативные правовые акты</label><span class="list-filter__checkbox disabled rc-checkbox">
                        <span class="rc-checkbox-inner"></span>
                        <input type="checkbox" class="rc-checkbox-input" value="on">
                      </span><span class="list-filter__item-count"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="content__static scroll-wrapper">
        <ul class="document-list">
          <li class="document-list__item document-list__item_3">
            <a class="document-list__link" href="https://normativka.by/lib/document/55909/sid/ba8a856ad1494cca8062389dcfe3e880"><i class="document-list__icon icon-doc icon-doc_3"></i><i class="document-list__status document-list__status_actual"></i>
              <p class="document-list__title">Статья, Юрисконсульт</p>
              <p class="document-list__description">Усовершенствование порядка проведения процедур закупок товаров (работ, услуг) при строительстве</p>
              <p class="document-list__redaction"><span><span>Опубликовано 06.01.2017</span></span></p><button title="Добавить в избранное" data-tooltip="simple" class="ctrl document-list__favorite"><span class="mdi mdi-star-outline"></span></button></a>
          </li>
          <li class="document-list__item document-list__item_1">
            <a class="document-list__link" href="https://normativka.by/lib/document/37144/sid/ba8a856ad1494cca8062389dcfe3e880"><i class="document-list__icon icon-doc icon-doc_1"></i><i class="document-list__status document-list__status_old"></i>
              <p class="document-list__title">Письмо Министерства торговли Республики Беларусь от 18.09.2013 № 08-01-05/931к</p>
              <p class="document-list__description">О порядке ведения годового плана государственных закупок</p>
              <p class="document-list__redaction"><span> Документ <i>утратил силу 18.02.2014</i></span></p><button title="Добавить в избранное" data-tooltip="simple" class="ctrl document-list__favorite"><span class="mdi mdi-star-outline"></span></button></a>
          </li>
          @RenderBody()
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="nr-loader hide">
  <div class="nr-loader__container">
    <div class="nr-loader__pic"></div>
    <div class="nr-loader__text">Загрузка списка ...</div>
  </div>
</div>
<div class="favorite-popup hide"></div>
<div class="alert-container hide"></div>
</div>
</div>

@*<script type="text/javascript">
  window.initData = {};
  window.initData.user = {
    "login": "anonymous",
    "id": "1",
    "code": "91f5f4fe825ae94cdf2749465d961c43",
    "status": "1",
    "registerTime": "2011-09-15 18:35:49",
    "lastVisitTime": "0000-00-00 00:00:00",
    "fullName": "\u0410\u043d\u043e\u043d\u0438\u043c",
    "email": null,
    "country": null,
    "city": null,
    "company": null,
    "position": null,
    "phone": null,
    "address": null,
    "name": null,
    "showEmail": "1",
    "pmNotify": "1",
    "newsNotify": "1",
    "avatar": "default.gif",
    "birthDate": "0000-00-00",
    "about": null,
    "signature": "",
    "pmCount": "0",
    "groups": [],
    "notifyMessages": [],
    "blockedMsg": "",
    "openDocumentsInNewTab": "1",
    "contextWidgets": "1"
  };
  window.initData.user.access = 0;

  if (!Object.defineProperty) {
    document.location.href = '/api/service/browser-not-supported';
  }
</script>*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>