<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/tinymce")
  @Scripts.Render("~/bundles/angular")
</head>
<body ng-app="GApp">
  <div id="seo-container">
  </div>
  <div ng-controller="BaseController">
    <div>
      <header class="header" ng-class="{'header_white' : advancedSearchActive}">
        <div class="header__container-logo">
          <a href="~/Home/Index" class="logo logo_header pull-left" tabindex="1">
            <i class="glyph glyphicon-education"></i>
            <i class="logo-text">@Resources.Resource.ApplicationTitle</i>
          </a>
        </div>
        @{
          Html.RenderPartial("_RightPanel");
          Html.RenderPartial("_LoginPartial");
          Html.RenderPartial("_HeaderSearch");
        }
      </header>
      @*@Html.Partial("_AdvancedSearchForm")*@
      @Html.Partial("_LeftPanel")

      @RenderBody()

      @Html.Partial("_LoaderPopup")
      @Html.Partial("_FavouritesPopup")
    </div>
  </div>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/jqueryval")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>